<div class="panel-body">
  <%= simple_form_for @song do |f| %>
    <%= f.input :title, label: false, input_html: {placeholder: "Song Title"} %>
    <%= f.input :length, label: false, input_html: {placeholder: "Song Length"} %>
    <%= f.input :genre, label: false, input_html: {placeholder: "Song Genre"} %>
    <%= f.input :artist_id, label: false, input_html: {placeholder: "Artist"} %>
    <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger"%>
  <%end %>
</div>
